p {
    color: #d5b200;
    font-size: 1.5em;
}
p#principal {
    color: hsl(0, 0%, 80%);
}

em {
    color: hsl(0, 0%, 80%);
    font-size: 0.6em;
}

div {
    display: inline-block;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 20px;
}
div:hover {
    border: 3px solid #008080;
}
div > p {
    text-align: center;
}