@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Advent Pro');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

body {
    background-color: hsl(0, 0%, 10%);
    font-family: 'Advent Pro';
    margin: 0;
}
header {
    font-family: 'Jura';
    background-color: #008080b0;
    color: #00a8a8;
    margin: 0;
}
h1 {
    font-size: 5em;
    margin: 20px 20px 20px 10%;
}
main {
    width: 80%;
    margin: auto;
}
h2 {
    font-family: 'Jura';
    color: #aa0063;
    font-size: 3em;
    font-weight: 400;
    margin: 10px 20px 20px 0px;
}
p {
    font-family: 'Montserrat';
    color: hsl(0, 0%, 80%);
    font-size: 1.5em;
    text-align: justify;
}
nav {
    color: #d5b200;
    font-size: 2em;
    margin-left: 5%;
}
a {
    color: #d5b200;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
footer{
    background-color: #791b5283;
    padding: 1px 0px 1px 10%;
}
footer > p {
    color: #d3007b;
    margin: 15px 0;
    
}
span > img {
    padding: 0;
}
small {
    color: hsl(0, 0%, 80%);
    margin-left: 10px;
    margin-right: 20px;   
}
