@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Advent Pro');

body {
    background-color: hsl(0, 0%, 10%);
    font-family: 'Advent Pro';
}

main {
    width: 80%;
    margin: auto;
}
h1 {
    color: #008080;
    font-size: 4em;
}
h2 {
    color: #aa0063;
    font-size: 2em;
}

p {
    color: hsl(0, 0%, 80%);
    font-size: 1.5em;
    text-align: justify;
}

a {
    /*background-color: #988422;*/
    color: #d5b200;
    font-size: 1.5em;
}

strong {
    color: white;
}
